.orangeBg {
  background-color: rgb(231, 132, 12);
}

.row {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px 16px;
}

.ktAlias {
  margin-right: 12px;
}

.contractLink {
  margin-left: 16px;
}
